.progress-label {
  float: left;
  margin-left: 40%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
.progress-bar {
  border: 1px solid #bebebe;
  background: #ffffff;
  width: 300px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.status {
  background: #0066cc;
  width: 0%;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}



.progress-bar .file-name {
  font-size: 12px;
  height: 16px;
  margin: 0;
  padding: 0 0 0 10px;
  float: left;
  color: red;
  font-weight: bold;
}
.progress-bar .elements-wrapper {
  position: absolute;
  top: 0;
  left: 0; 
}

/**
 *  Unique progress bar.
 */
.multiupload-corner-all {
  border-radius: 4px;
}

.multiupload-widget-content {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  color: #333333;
}

.multiupload-widget {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.multiupload-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
  width: 50%;
}

.progress-label {
  float: left;
  margin-left: 40%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.multiupload-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}

.multiupload-progressbar .multiupload-progressbar-value {
  margin: -1px;
  height: 100%;
}

/**
 * Cancel button.
 */
.multiupload-icon.multiupload-icon-close {
    background-position: -80px -128px;
}
.multiupload-icon, .multiupload-widget-content .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
}
.multiupload-icon {
    width: 16px;
    height: 16px;
    background-position: 16px 16px;
}
.multiupload-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.progress-bar .multiupload-icon-close {
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.progress-bar .multiupload-icon {
    display: inline-block;
    float: left;
}