.progress-label {
  float: left;
  margin-left: 40%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
.progress-bar {
  border: 1px solid #bebebe;
  background: #ffffff;
  width: 300px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.status {
  background: #0066cc;
  width: 100%;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.progress-bar .ui-icon-close {
  border-right: 1px solid #ccc;
  cursor: pointer;
}
.progress-bar .ui-icon {
  display: inline-block;
  float: left;
}
.progress-bar .file-name {
  font-size: 12px;
  height: 16px;
  margin: 0;
  padding: 0 0 0 10px;
  float: left;
  color: white;
  font-weight: bold;
}
.progress-bar .elements-wrapper {
  position: absolute;
  top: 0;
  left: 0; 
}